.container-about {
   min-height: calc(100vh - 150px);
   display: flex;
   margin: 0 auto;
}

.content-about {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.content-about img {
   width: 400px;
}
