.card-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.content-card {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 60px;
}

.carro {
  width: 100%;
  overflow: hidden;
}

.img-card  {
    display: flex;
    justify-content: left;
    box-shadow: 15px 15px 20px rgba(100, 100, 100, 1);
   /* animation: slide 10s infinite ease-out ; */
}

.img-card img {
    width: 100%;
}

.text-card h1 {
    font-size: 3rem;
    letter-spacing: -0.015rem;
    margin-bottom: 1rem;
}

.text-card p {
    font-size: 1.8rem;
    letter-spacing: -0.015rem;
    color: #4F4F4F;
    margin-bottom: 2rem;
}

.text-card a {
    margin-top: 20px;
    font-size: 1.6rem;
    letter-spacing: -0.015rem;
    color: #FFF;
    text-transform: none;
    background-color: blue;
    padding: 6px 10px;
}
  
  @keyframes slide {
    0%{margin-left: 0%;}
    49%{margin-left: -100%;}
    50%{margin-left: -200%;}
    99%{margin-left: -200%;}
    100%{margin-left: 0%;}
  }