.container-home {
    min-height: calc(100vh - 150px);
    max-width: 1600px;
    margin: auto;
    background-color: black;
    padding-bottom: 20px;

}

.home-content {
    margin: auto;
    padding-top: 50px;
    width: 80%;
    min-height: calc(100vh - 100px);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner img {
    min-width: 350px;
    margin-right: 50px;
    border-radius: 60%;
    
}

.profile {
    display: flex;
    flex-direction: column;
    margin:auto;
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: 30px auto;
    margin-bottom: 100px;
}

.field a {
    font-size: 30px;
    text-transform: capitalize;
}

.text {
    display: flex;
    flex-direction: column;
    color: #FFF;
}
.text h1 {
    font-size: 6rem;
    color: #0F0;
}

.text h2 {
    font-size: 4rem;
}

.text p {
    font-size: 2.5rem;
}

.text a {
    cursor: pointer;
}

.project-preview {
    max-width: 75%;
    margin: 50px auto;
}

.project-preview-text h1 {
    font-size: 46px;
    color: #FFF;
    margin-bottom: 20px;
}

.skills-preview {
    max-width: 75%;
    margin: 50px auto;

}

.skills-preview h1 {
    font-size: 46px;
    color: #FFF;
    margin-bottom: 20px;
}


:root {
    --color-thema: #0F0;
    --cor-hover: #ffffff;
  }
  .btnn {
    padding:0.2em 1em;
    border-radius:50px;
    display:inline-block;
  }
  .btnn-neon {
    border:4px solid var(--color-thema);
    position: relative;
    text-transform: capitalize;
    text-decoration:none;
    color: var(--color-thema);
    background-color: transparent;
    cursor: pointer;
    font-size: 2em;
    font-family: 'open_sansregular';
    transition:0.4s;
    text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5), 0 0 0.25em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--color-thema), 0 0 0.5em 0 var(--color-thema);
  }
  .btnn-neon:hover {
    color: var(--cor-hover);
    border:4px solid var(--cor-hover);
    transition:0.4s;
    text-shadow: none;
  }
  .btnn-neon:hover:after {
    opacity: 1;
  }
  .btnn-neon:hover:before {
    opacity: 1;
  }
  .btnn-neon:before, .btnn-neon:after {
    content: "";
    position: absolute;
    transition: opacity 100ms linear;
    background-color: var(--color-thema);
  }
  .btnn-neon:before {
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.5;
  }
  .btnn-neon:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 0.75em 0.25em var(--color-thema), 0 0 0.75em 1em var(--color-thema);
    opacity: 0;
  }