#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #000;
    
}

#navbar h1 {
    font-size: 3rem;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    margin-left: 40px;
    font-size: 1.6rem;
}

a {
    text-transform: uppercase;
    color: #FFF;
}

.main-menu a.active {
   border-bottom: 3px solid #0F0;
   
}