#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #000;
}

#navbar h1 {
    font-size: 3rem;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    margin-left: 30px;
    margin-top: 40px;
}

a {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #FFF;
}

:root {
    --color-thema: #0F0;
    --cor-hover: #ffffff;
  }
  .navLink {
    padding:0.2em 1em;
    border-radius:50px;
    display:inline-block;
  }
  .main-menu a.active  {
    border-bottom: 3px solid var(--color-thema);
    text-decoration:none;
    color: var(--color-thema);
    background-color: transparent;
    cursor: pointer;
    transition:0.4s;
  }
 
.navLink:hover {
    transition: 0.5s;
    color: #0F0;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu-bar {
    background-color: #0F0;
    height: 3px;
    width: 30px;
    margin-bottom: 5px;
}

@media(max-width: 850px) {

    #navbar {
        justify-content: space-between;
    }
    
    .mobile-menu {
        display: block;
    }
    
    .logo-link, .mobile-menu {
        padding: 0 50px;

    }

    .main-menu {
        position: absolute;
        justify-content: space-between;
        transition: 0.3s;
    }

    .main-menu li {
        display: none;
    }

    .main-menu.active {
        position: absolute;
        top: 100px;
        right: 0;
        width: 100vw;
        height: 50vh;
        background-color: #000;
        flex-direction: column;
        align-items:center;
        justify-content: flex-start;
        transition: 0.2s;
        padding-bottom: 30px;
    }

    .main-menu.active li {
        display: block;
    }

}

.mobile-menu.active .line-1 {
    transform: rotate(-45deg) translate(-6px, 6px); 
}
.mobile-menu.active .line-2 {
opacity: 0;

}
.mobile-menu.active .line-3 {
transform: rotate(45deg) translate(-6px, -6px);
}