.container-projects {
    padding-top: 25px;
    min-height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.content-projects {
    width: 80%;
}

.content-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    margin-bottom: 50px;

}

.card-title {
    margin-bottom: 30px;
}

.card-title h1 {
    font-size: 4rem;
}