
.slick-dots li.slick-active button:before {
    opacity: .85;
    color: #0F0;
    text-shadow: 5px 5px 20px #0F0;
    
}
.slick-dots li button:before {
    opacity: .25;
    color: #FFF;
    font-size: 10px;
}

.button.slick-arrow.slick-prev::before {
    width: 10px;
}