
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #0F0;
    box-shadow: 1px 1px 2px #FFF(0, 0, 0, 0.25);
    
}
.slick-dots li button:before {
    opacity: .25;
    color: #FFF;
    font-size: 10px;
}

.button.slick-arrow.slick-prev::before {
    width: 10px;
}